:root{
    --vermelho: #E50914;
    --branco:#ffffff;
    --preto: #141414;
    --cinza:#666;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Base Project*/
body{
    background-color: var(--preto);
    font-family: 'Times New Roman', Times, serif;
    color: var(--branco);
}

header .container{
    display:flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}

header .logo{
    margin-left: 5px;
    font-family: 'Gotham', times;
    font-size: 40px;
    color: var(--vermelho);
}

header nav a {
    text-decoration: none;
    color: var(--cinza);
    margin-right: 10px;
    text-shadow: var(--branco);    
}

header nav a:hover{
    color: var(--branco);
}

footer .by{    
    text-align: center;    
    color: var(--branco);
    width: 100%;
    position: absolute;
    bottom: 0;
}

/*Filme Principal*/
.titulo_principal{
    margin-top: 12%;
    font-size: 40px;
    font-family: 'Trebuchet MS';
}

.filme_principal{
    font-size: 16px;
    background-image: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url('/assets/img/soons_of_anarch_fundo.jpg');
    background-size: cover;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme_principal .sinopse_principal{
    margin-top: 10px;
    margin-bottom: 60px;
}

.button{
    background-color:rgba(0,0,0,.50);
    border: none;
    color: var(--branco);
    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;
    cursor: pointer;
    transition: 0.6s;
}

.button i{
    margin-right: 5px;
}

.button:hover{
    background-color: #ffffff;
    color: var(--preto);
}